body {
    margin: 0;
    padding: 0;
    background-color: #E89DA4;
    font-family: 'Carter One', 'aystem-ui';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url('assets/Rectangle5.png');
    width: 1166px;
    height: 785px;
    border-radius: 25px;
    background-color: #f4e3e83b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 715px;
}




.title {
    color: #730002;
    text-align: center;
    margin-bottom: 25px;
}

#one {
    font-size: 20px;
    width: 700px;
}

.addcontainer {
    display: flex;
    padding: 15px 20px;
    background: #FFD4D4;
    border-radius: 40px;
    margin-bottom: 30px;
}



.addbtn {
    background: #f7bbc9;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addbtn:hover {
    background: #FF6B8B;
    transform: scale(1);
}

p {
    color: #730002;
    font-weight: bold;
    margin: 10px 0 0 20px;
    text-align: center;
    margin-bottom: 20px;
}

.tasks {
    display: flex;
    padding: 15px 20px;
    margin-bottom: 20px;
    background: #FFD4D4;
    border-radius: 30px;

}

#two {
    font-size: 20px;
    width: 550px;
}


.editbtn {
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;

}

.editbtn:hover {
    transform: scale(1.1);
}


.clearbtn {
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.clearbtn:hover {
    transform: scale(1.1);
}

.bunnycontainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



@media (max-width: 552px) {
    body {
        width: 400;

    }
}